build/
CMakeFiles/
/CMakeCache.txt
cmake_install.cmake
cmake_uninstall.cmake
compile_commands.json
install_manifest.txt
Makefile

# Eclipse 
.cproject
.project
.csettings/

# Netbeans
dist/
nbproject/

# Other
testResult.log
.dep.inc
/valgrind.supp
lib/
cmake/
include/VC4CLStdLib.h.pch