build/
CMakeFiles/
/CMakeCache.txt
cmake_install.cmake
cmake_uninstall.cmake
compile_commands.json
install_manifest.txt
Makefile
*.deb
VC4CLStdLib
_CPack_Packages

# Eclipse
.cproject
.project
.csettings/
.settings/

# Netbeans
dist/
nbproject/

# Other
testResult.log
.dep.inc
/valgrind.supp
lib/
include/VC4CLStdLib.h.pch

#CPack
/CPackConfig.cmake
/CPackSourceConfig.cmake
