version: 2
jobs:
  cross:
    docker:
      - image: nomaddo/cross-rpi:0.1
    steps:
      - checkout
      - run:
          name: download header
          command: git clone https://github.com/doe300/VC4CLStdLib.git VC4CLStdLib && cd VC4CLStdLib && cmake . && make install && cd ..
      - run:
          name: configure
          # Use the libLLVM of the default LLVM/CLang, disable search for SPIRV-LLVM
          command: cmake . -DCROSS_COMPILE=ON -DBUILD_TESTING=ON -DLLVMLIB_FRONTEND=ON -DSPIRV_FRONTEND=OFF -DSPIRV_COMPILER_ROOT=/tmp/skip-searching
#          command: cmake . -DCROSS_COMPILE=ON -DBUILD_TESTING=ON -DLLVMLIB_FRONTEND=OFF
      - run:
          name: make
          command: make -j`nproc`
      - run:
          name: deb-packing
          command: cpack -G DEB && cpack -G DEB --config ./VC4CLStdLib/CPackConfig.cmake
      - store_artifacts:
          path: build/libVC4CC.so.0.4
          distination: libVC4CC.so.0.4
      - store_artifacts:
          path: build/VC4C
          distination: VC4C
      - store_artifacts:
          path: build/test/TestVC4C
          distination: TestVC4C
      - store_artifacts:
          path: vc4c-0.4-Linux.deb
          distination: vc4c-0.4-Linux.deb
      - store_artifacts:
          path: vc4cl-stdlib-0.4-Linux.deb
          distination: vc4cl-stdlib-0.4-Linux.deb
  build:
    docker:
      - image: nomaddo/native
    steps:
      - checkout
      - run:
          name: download header
          command: git clone https://github.com/doe300/VC4CLStdLib.git VC4CLStdLib && cd VC4CLStdLib && cmake . && make install && cd ..
      - run:
          name: configure
          # Use SPIRV-LLVM
          command: cmake . -DBUILD_TESTING=ON -DLLVMLIB_FRONTEND=ON -DLLVMIR_FRONTEND=OFF -DSPIRV_FRONTEND=OFF
      - run:
          name: make
          command: make -j`nproc`
      - run:
          name: deb-packing
          command: cpack -G DEB && cpack -G DEB --config ./VC4CLStdLib/CPackConfig.cmake
      - store_artifacts:
          path: build/libVC4CC.so.0.4
          distination: libVC4CC.so.0.4
      - store_artifacts:
          path: build/VC4C
          distination: VC4C
      - store_artifacts:
          path: build/test/TestVC4C
          distination: TestVC4C
      - store_artifacts:
          path: vc4c-0.4-Linux.deb
          distination: vc4c-0.4-Linux.deb
      - store_artifacts:
          path: vc4cl-stdlib-0.4-Linux.deb
          distination: vc4cl-stdlib-0.4-Linux.deb
      - persist_to_workspace:
          root: /root/project
          paths:
            - build/libVC4CC.so.0.4
            - build/test/TestVC4C
            - build/cpptest-lite/src/cpptest-lite-project-build/libcpptest-lite.so.0.9
            - testing
            - example
            - vc4cl-stdlib-0.4-Linux.deb
  build-spirv:
    docker:
      - image: nomaddo/cross-rpi:0.1
    steps:
      - checkout
      - run:
          name: download header
          command: git clone https://github.com/doe300/VC4CLStdLib.git VC4CLStdLib && cd VC4CLStdLib && cmake . && make install && cd ..
      - run:
          name: configure
          # Use SPIRV-LLVM
          command: cmake . -DBUILD_TESTING=ON -DLLVMLIB_FRONTEND=OFF -DLLVMIR_FRONTEND=OFF -DSPIRV_FRONTEND=ON
      - run:
          name: make
          command: make -j`nproc`
      - run:
          name: deb-packing
          command: cpack -G DEB && cpack -G DEB --config ./VC4CLStdLib/CPackConfig.cmake
      - store_artifacts:
          path: build/libVC4CC.so.0.4
          distination: libVC4CC.so.0.4
      - store_artifacts:
          path: build/VC4C
          distination: VC4C
      - store_artifacts:
          path: build/test/TestVC4C
          distination: TestVC4C
      - store_artifacts:
          path: vc4c-0.4-Linux.deb
          distination: vc4c-0.4-Linux.deb
      - store_artifacts:
          path: vc4cl-stdlib-0.4-Linux.deb
          distination: vc4cl-stdlib-0.4-Linux.deb
      - persist_to_workspace:
          root: /root/project
          paths:
            - build/libVC4CC.so.0.4
            - build/test/TestVC4C
            - build/cpptest-lite/src/cpptest-lite-project-build/libcpptest-lite.so.0.9
            - testing
            - example
            - vc4cl-stdlib-0.4-Linux.deb
  test:
    docker:
      - image: nomaddo/native
    steps:
      - attach_workspace:
          at: /root/project
      - run: dpkg -i vc4cl-stdlib-0.4-Linux.deb
      - run: ln -s `pwd`/build/libVC4CC.so.0.4 /usr/lib/libVC4CC.so.1.2
      - run: ln -s `pwd`/build/cpptest-lite/src/cpptest-lite-project-build/libcpptest-lite.so.0.9 /usr/lib/libcpptest-lite.so.1.1.2
      - run: ldconfig
      - run: build/test/TestVC4C
  test-spirv:
    docker:
      - image: nomaddo/cross-rpi:0.1
    steps:
      - attach_workspace:
          at: /root/project
      - run: dpkg -i vc4cl-stdlib-0.4-Linux.deb
      - run: ln -s `pwd`/build/libVC4CC.so.0.4 /usr/lib/libVC4CC.so.1.2
      - run: ln -s `pwd`/build/cpptest-lite/src/cpptest-lite-project-build/libcpptest-lite.so.0.9 /usr/lib/libcpptest-lite.so.1.1.2
      - run: ldconfig
      - run: build/test/TestVC4C
workflows:
  version: 2
  commit:
    jobs:
      - build
      - build-spirv
      - cross
      - test:
          requires:
            - build
      - test-spirv:
          requires:
            - build-spirv
